@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600&display=swap');

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
  }
  
  body::-webkit-scrollbar{
    display: none;
  }
  
  .top {
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: #0D0A1E;
    display: block;
    z-index: 100;
  }
  
  nav {
    padding: 15px;
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }
  
  html { 
    margin-top: -22px !important; 
    background-color: #0D0A1E;
  } 
  
  .highlight:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
    -moz-filter: brightness(110%);
    transition: 0.3s;
  }