.main-post {
    width: 40rem;
    height: 30rem;
    border-radius: 2rem;
}

.text-container {
    display: flex;
    padding: 1rem;
    padding-top: 0;
    justify-content: left;
}

.header-container {
    padding: 1rem;
    display: flex;
    justify-content: left;
}
img {
    height: 10rem;
}

