.background-main-color {
  background-color: #0C0D22 !important;
}

.background-secondary-color {
  background-color: #101131 !important;
}

.background-secondary-color:hover {
  background-color: #1F214D !important;
}

.text-color {
  color: #DDE5F7 !important;
}

.text-secondary-color {
  color: #979EA4 !important;
}

.text-secondary-color:hover {
  color: C6CDD3 !important;
}

.primary-first-color {
  background-color: #254DF7 !important;
}

.primary-first-color:hover {
  background-color: #717FDD !important;
}

.primary-second-color {
  color: #91D0FB !important;
}

.on-background-secondary-color {
  background-color: #2F2F6A !important;
}

.on-background-secondary-color:hover {
  background-color: #64648D !important;
}

.success-color {
  color: #1CC900 !important;
}

.mistake-color {
  color: #C90C00 !important;
}