.background-main-color {
  background-color: var(--background-main-color) !important;
}

.background-secondary-color {
  background-color: var(--background-secondary-color) !important;
}

.background-secondary-color:hover {
  background-color: var(--background-secondary-color-hover) !important;
}

.text-color {
  color: var(--text-color) !important;
}

.text-secondary-color {
  color: var(--text-secondary-color) !important;
}

.text-secondary-color:hover {
  color: var(--text-secondary-color-hover) !important;
}

.primary-first-color {
  background-color: var(--primary-first-color) !important;
}

.primary-first-color:hover {
  background-color: var(--primary-first-color-hover) !important;
}

.primary-second-color {
  color: var(--primary-second-color) !important;
}

.on-background-secondary-color {
  background-color: var(--on-background-secondary-color) !important;
}

.on-background-secondary-color:hover {
  background-color: var(--on-background-secondary-color-hover) !important;
}

.success-color {
  color: var(--success-color) !important;
}

.mistake-color {
  color: var(--mistake-color) !important;
}