.primary-rounded {
  border-radius: 10px !important;
}

.primary-border {
  border: 1.5px solid var(--text-secondary-color);
}

.primary-border:hover,
.primary-border:focus-within,
.primary-border:active {
  border: 1.5px solid var(--text-color);
}