@font-face {
  font-family: "Suisse Intl Regular";
  src: url(../fonts/SuisseIntl-Regular.ttf);
}

.p-button {
  font-family: var(--family-name) !important;
  font-size: 12px !important;
  letter-spacing: 0 !important;
}

.p4 {
  font-family: var(--family-name) !important;
  font-size: 10px !important;
  letter-spacing: 0 !important;
}

.h2 {
  font-family: var(--family-name) !important;
  font-size: 23px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}