@font-face {
  font-family: "Suisse Intl Regular";
  src: url(../fonts/SuisseIntl-Regular.ttf);
}

.p-button {
  font-family: var(--family-name) !important;
  font-size: 12px !important;
  letter-spacing: 0 !important;
}

.p1 {
  font-family: var(--family-name) !important;
  font-size: 18px !important;
  letter-spacing: 0 !important;
}

.p2 {
  font-family: var(--family-name) !important;
  font-size: 14px !important;
  letter-spacing: 0 !important;
}

.p3 {
  font-family: var(--family-name) !important;
  font-size: 12px !important;
  letter-spacing: 0 !important;
}

.p4 {
  font-family: var(--family-name) !important;
  font-size: 10px !important;
  letter-spacing: 0 !important;
}

.h2 {
  font-family: var(--family-name) !important;
  font-size: 23px;
  letter-spacing: 0em;
}