.grid-container {
  grid-template-columns: 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px !important;
  column-gap: 40px !important;
  display: grid !important;
  justify-content: center !important;
}