.avatar-section {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftBlock {
    display: flex;
    gap: 5px;
    align-items: center;
}

.justifyLeft {
    display: flex;
    justify-content: left;
}

img {
    height: 60px;
}